Flask==3.0.0
Flask-Cors==4.0.2
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
sqlalchemy>=2.0.16
python-dotenv==0.21.0
pytest==8.3.3
pytest-cov==6.0.0
bcrypt==4.0.1
gunicorn==23.0.0
azure-monitor-opentelemetry==1.6.4
opencensus-ext-azure==1.1.13
opentelemetry-instrumentation-flask==0.49b0
opentelemetry-instrumentation-requests==0.49b0
opentelemetry-instrumentation-urllib==0.49b0
opentelemetry-instrumentation-urllib3==0.49b0
applicationinsights==0.11.10
azure-identity==1.19.0
psycopg2-binary==2.9.10
